.navbar {
    background-color: #fcde67;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    color: #9caf6f;
    
    .left {
        padding: 10px;
        font-size: 24px;
    }
    
    .right {
        display: flex;
        gap: 5px;
        
        div {
            padding: 15px;
            
            a {
                text-decoration: none;
                color: #9caf6f;
            }
        }
        div:hover {
            cursor: pointer;
            color: rgb(111, 131, 69);
        }
    }
}

@media (max-width: 1000px) {
    .right {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 50px;
        z-index: -1;
        background-color: #4f8fc0;
        height: 40vh;
        width: 25vw;
        display: none;
        flex-direction: column;
        padding: 10px;
        justify-content: space-evenly;

    }
}

@media (max-width: 600px){
    .right {
        width: 40vw;
    }
}
